body {
  @include font-roboto();
  font-size: $font-size-sm;
  background-color: #9fd2f6 !important;
}

.AppContainer {
  transition: all 0.25s cubic-bezier(.455,.03,.515,.955);

  &.navActive {
    transform: translate3d(0, 50px, 0);
  }
}