.u-floatRight { @include gridle(float right); }

.u-xl-textSize { font-size: $font-size-xl; }
.u-lg-textSize { font-size: $font-size-lg; }
.u-md-textSize { font-size: $font-size-md; }
.u-sm-textSize { font-size: $font-size-sm; }
.u-xs-textSize { font-size: $font-size-xs; }

.u-formInput {
  @include gridle(12 lg 6);

  margin: 5px 0;
  min-height: 54px;

  > span {
    display: block;
    margin-bottom: 5px;
  }

  .ant-select,
  .ant-input-number {
    width: 100%;
  }

  .ant-switch {
    width: 40px;
  }
}