.u-floatRight { @include gridle(float right); }

.u-xl-textSize { font-size: $font-size-xl; }
.u-lg-textSize { font-size: $font-size-lg; }
.u-md-textSize { font-size: $font-size-md; }
.u-sm-textSize { font-size: $font-size-sm; }
.u-xs-textSize { font-size: $font-size-xs; }

.u-formInput {
  @include gridle(12 lg 6);

  margin: 5px 0;
  min-height: 60px;

  > span {
    display: block;
    margin-bottom: 5px;
  }

  &.PurchaseSection-buyToLet,
  &.PurchaseSection-stampDuty {
    @include gridle(6 lg 3);

    min-height: 60px;
  }

  .anticon {
    margin-left: 5px;
    cursor: pointer;
  }

  .ant-select,
  .ant-input-number {
    width: 100%;
  }

  .ant-switch {
    width: 40px;
  }
}

.Popover {
  max-width: 250px;

  p, a {
    font-size: 12px;
  }

  p {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}