.FormContainer {
  @include gridle(12 sm 10 prefix 1 suffix 1);

  margin-bottom: 30px;
}

.FormContainer-section {
  background-color: $color-white;
  margin-bottom: 4px;
  box-shadow: 0px 0px 5px 1px rgba($color-black, 0.1);

  header i {
    transition: transform 0.3s;
  }

  &.is-active {
    header {
      border-bottom: 1px dashed $color-grey-light;

      i {
        transform: rotate(180deg);
      }
    }
  }
}

.FormContainer-header {
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.25s;

  &:hover {
    background-color: rgba($color-grey-light, 0.25);
  }

  h3 {
    display: inline-block;
    text-transform: uppercase;
  }
}

.FormContainer-inputs {
  overflow: hidden;
}

.FormContainer-inputWrapper {
  @include gridle(container);
  margin: 10px 0 20px;
}