.ReturnsContainer-section {
  @include gridle(12);

  &.is-active {
    header i {
      transform: rotate(90deg);
    }
  }

  &:not(:nth-of-type(1)) {
    .ReturnsContainer-values {
      height: 0;
    }
  }
}

.ReturnsContainer-header {
  padding: 15px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  border: 1px solid $color-black;
  margin-bottom: 20px;

  &:hover {
    background-color: $color-green-accent;
    border-color: $color-green-accent;

    h3, i {
      color: $color-white;
    }
  }

  h3, i {
    transition: all 0.25s ease-in-out;
    color: $color-green-primary;
  }

  h3 {
    display: inline-block;
    text-transform: uppercase;
    font-weight: normal;
  }
}

.ReturnsContainer-values {
  overflow: hidden;

  ul {
    @include gridle(container);

    li {
      @include gridle(12 lg 6);
      @include gridle_state(lg) {
        padding-top: 6px;
        padding-bottom: 4px;
      }

      span {
        font-size: 14px;
      }

      &.ReturnsContainer-profit {
        span {
          &.u-floatRight {
            color: green;
          }
        }
      }

      border-bottom: 1px solid rgba(0,0,0,0.05);
      padding-top: 2px;
      padding-bottom: 1px;

      &:nth-child(odd) {
        border-right: 1px solid rgba(0,0,0,0.05);
      }

      &:last-child {
        @include gridle(12);

        border: none;
        margin: 20px 0;
      }
    }
  }

  .anticon {
    margin-left: 5px;
    cursor: pointer;
  }
}