.ReturnsContainer {
  @include gridle(12);
}

.ReturnsContainer-section {
  background-color: $color-white;
  margin-bottom: 4px;
  box-shadow: 0px 0px 5px 1px rgba($color-black, 0.1);

  .ReturnsContainer-values {
    height: 0;
  }

  &:nth-of-type(1) {
    .ReturnsContainer-values {
      height: auto;
    }
  }

  header i {
    transition: transform 0.3s;
  }

  &.is-active {
    header {
      border-bottom: 1px dashed $color-grey-light;

      i {
        transform: rotate(180deg);
      }
    }
  }
}

.ReturnsContainer-header {
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.25s;

  &:hover {
    background-color: rgba($color-grey-light, 0.25);
  }

  h3 {
    display: inline-block;
    text-transform: uppercase;
  }
}

.ReturnsContainer-values {
  overflow: hidden;

  ul {
    @include gridle(container);

    li {
      @include gridle(12 lg 6);
      @include gridle_state(lg) {
        padding-top: 6px;
        padding-bottom: 4px;
      }

      span {
        font-size: 14px;
      }

      &.ReturnsContainer-profit {
        span {
          &.u-floatRight {
            color: green;
          }
        }
      }

      border-bottom: 1px solid rgba(0,0,0,0.05);
      padding-top: 2px;
      padding-bottom: 1px;

      &:nth-child(odd) {
        border-right: 1px solid rgba(0,0,0,0.05);
      }

      &:last-child {
        @include gridle(12);

        border: none;
        margin: 20px 0;
      }
    }
  }

  .anticon {
    margin-left: 5px;
    cursor: pointer;
  }
}