.PropertySection-location {
  input {
    display: inline-block;
  }
}

.PropertySection-getListings {
  margin: 15px 0 0 0;
  min-height: auto;

  button {
    span {
      margin: 0 !important;
    }
  }
}