.PropertySection-location {
  @include gridle(12);

  margin-bottom: 15px;

  button {
    position: absolute;
    right: 2px;
    top: 2px;
  }
}

.PropertySection-getListings {
  margin: 15px 0 0 0;
  min-height: auto;

  button {
    span {
      margin: 0 !important;
    }
  }
}